* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: #F2F2F2;
}

:root {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    --swatch-highlight: linear-gradient(315deg, hsla(0, 100%, 0%, 0.2), hsla(0, 100%, 100%, 0.6));
}

#site-title {
    padding: 2rem;
    font-family: 'Geostar Fill', cursive;
    font-size: 4rem;
    color: #333333;
}

.canvas-size-slider-container {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 36rem;
}

.slider-operator {
    padding: 0 1rem;
}

#canvas-size-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 100%;
    background-color: white;
    border: solid #E5E5E5 1px;
    box-shadow: 0px 0px 4px #E5E5E5;
}

#canvas-size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.1rem;
    height: 1.5rem;
    background-color: black;
    cursor: e-resize;
    transition: 100ms;
}

#canvas-size-slider::-webkit-slider-thumb:hover {
    height: 2.5rem;
}

.pixel-painter-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#toolbar {
    display: flex;
    justify-content: flex-end;
}

#toolbar,
.section {
    width: 33%;
}

#tools {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    box-shadow: 0px 0px 8px #E5E5E5;
    border-radius: 1.4rem;
    border: solid #E5E5E5 1px;
}

.brush {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    border: solid #E5E5E5 1px;
    border-radius: 2rem;
    cursor: pointer;
}

.brush-icon {
    height: 70%;
    width: 70%;
    background: var(--swatch-highlight);
    border-radius: 1rem;
}

#canvas {
    margin: 0 auto;
    width: 40rem;
    height: 40rem;
    background-color: #e5e5e5;
    display: grid;
    flex-shrink: 0;
    padding: 0.5px;
    box-shadow: 0px 0px 8px #e5e5e5;
    /* cursor: none; */
    /* grid-template: repeat(4, 1fr) / repeat(4, 1fr); */
}

.cell {
    background-color: white;
    animation: zoom-in 500ms ease-out;
}

.grid-light {
    border: solid #e5e5e5 0.5px;
}

.grid-dark {
    border: solid #1a1a1a 0.5px;
}

@keyframes zoom-in {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}