* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #F2F2F2;
}

h1 {
    padding: 2rem;
    font-family: 'Geostar Fill', cursive;
    font-size: 4rem;
    color: #333333;
}

#canvas {
    margin: 0 auto;
    width: 40rem;
    height: 40rem;
    background-color: #e5e5e5;
    display: grid;
    padding: 0.5px;
    /* grid-template: repeat(4, 1fr) / repeat(4, 1fr); */
}

.pixel {
    background-color: white;
    border: solid #e5e5e5 0.5px;
}