* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

:root {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    --light-grey: #e5e5e5;
    --dark-grey: #262626;
    --swatch-highlight: linear-gradient(315deg, hsla(0, 100%, 0%, 0.2), hsla(0, 100%, 100%, 0.6));
}

html {
    font-size: 1rem;
    font-size: 1.9vmin;
}

body {
    background-color: #F2F2F2;
    overflow: hidden;
}

li {
    list-style-type: none;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

dialog {
    position: static;
    background-color: hsl(0, 0%, 100%);
    border: solid var(--light-grey) 1px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.2);
}

input {
    cursor: pointer;
}

header {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
    height: 98vh;
    margin-bottom: 2rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 -4px 8px var(--light-grey) inset;
    transition: height 500ms;
}

#canvas {
    margin: 0 2rem;
    width: 75vmin;
    height: 75vmin;
    background-color: #e5e5e5;
    display: grid;
    flex-shrink: 0;
    padding: 0.5px;
    box-shadow: 0px 0px 8px #e5e5e5;
    cursor: cell;
    /* grid-template: repeat(4, 1fr) / repeat(4, 1fr); */
}

#canvas-overlay {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 75vmin;
    width: 75vmin;
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(4px);
    cursor: auto;
}

#canvas-overlay p {
    margin: 0.5rem 0;
    color: hsl(0, 0%, 40%);
}

#canvas-overlay label {
    font-size: 0.8rem;
}

.dialog-text {
    padding: 1.5rem 2rem;
}

.dialog-options {
    padding: 0 1rem;
    background-color: hsla(0, 0%, 95%, 0.5);
    border-top: solid (var(--light-grey) 2px);
    box-shadow: 0px 2px 2px var(--light-grey) inset;
}

.button {
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    background-color: hsl(0, 0%, 100%);
    border: solid white 2px;
    border-radius: 4px;
    outline: solid var(--light-grey) 1px;
    color: var(--dark-grey);
    cursor: pointer;
    transition: outline 200ms;
}

.button:hover {
    outline: solid var(--dark-grey) 1px;
    background-color: hsl(0, 0%, 100%);
}

#settings {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: left;
}

#settings ul {
    flex: 1;
    min-width: 50vmin;
    padding: 0;
}

#settings ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 3.0rem;
    border-top: solid hsl(0, 0%, 95%) 1px;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--dark-grey);
}

#settings ul:first-of-type li {
    justify-content: flex-end;
}

.range-value {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1.6rem;
    min-width: 2.4rem;
    border: solid var(--light-grey) 1px;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 1.25rem;
}

.switch-container input {
    display: none;
}

.switch {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: solid hsl(0, 0%, 80%) 0.0625rem;
    border-radius: 0.2rem;
    background-color: hsl(0, 0%, 90%);
    transition: 400ms;
}

.switch:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    inset: 0.0725rem;
    background-color: white;
    background-color: hsl(0, 0%, 80%);
    border-radius: 10%;
    transition: 400ms;
}

input:checked + .switch {
    background-color: hsl(0, 0%, 95%);
}

input:checked + .switch:before {
    background-color: white;
    box-shadow: 0px 0px 4px hsl(0, 0%, 80%);
}

input:checked + .switch:before {
    transform: translateX(1.1rem);
}

#title {
    width: 40rem;
    margin: 1.5rem;
}

.help {
    margin-right: -20rem;
}

.pixel-painter-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    align-items: center;
}

.toolbar-container {
    margin-left: auto;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.toolbar {
    display: grid;
    padding: 0.25rem;
    grid-template-columns: auto auto;
    border: solid var(--light-grey) 1px;
    border-radius: 1.75rem;
    background-color: white;
    box-shadow: 0px 0px 8px var(--light-grey);
}

#canvas-size-tool {
    grid-column: 1 / 3;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    font-size: 1.4rem;
}

#canvas-size-display {
    display: inline-block;
    min-width: 2rem;
    padding: 0 0.1rem;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    translate: 0 -0.1rem;
}

.range-container {
    display: flex;
    align-items: center;
}

.slider-operator {
    z-index: 1;
    width: 0.8rem;
}

.range-slider {
    appearance: none;
    width: 80%;
    height: 0.2rem;
    background-color: var(--light-grey);
}

.range-slider::-webkit-slider-thumb {
    appearance: none;
    width: 0.1rem;
    height: 1.5rem;
    background-color: var(--dark-grey);
    cursor: e-resize;
    transition: transform 200ms;
}

.range-slider::-ms-fill-lower {
    background-color: var(--dark-grey);
}

.range-slider::-moz-range-track {
    background-color: blue;
}

.range-slider::-webkit-slider-thumb:hover {
    transform: scaleY(1.2);
}

#canvas-slider-container {
    display: none;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 0 2rem;
    width: 16.0rem;
    margin-left: 16.0rem;
    outline: solid var(--dark-grey) 1px;
    border: solid white 4px;
    border-radius: 3rem;
    background-color: white;
    box-shadow: 0px 0px 8px #E5E5E5;
    height: 100%;
}

#canvas-size-slider {
    display: none;
    opacity: 0;
}

#canvas-size-slider::-webkit-slider-thumb {
    height: 2.5rem;   
}

.tool {
    position: relative;
    box-sizing: border-box;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.5rem;
    outline: solid var(--light-grey) 1px;
    border: solid white 4px;
    border-radius: 100%;
    overflow: visible;
    cursor: pointer;
    transition: outline 200ms, border 200ms;
}

.tool:hover {
    outline: solid var(--dark-grey) 1px;
}

.brush {
    background: var(--swatch-highlight);
}

#palette {
    display: none;
    position: absolute;
    grid-template: repeat(5, 1fr) / repeat(8, 1fr);
    margin-left: 1.6rem;
    border: solid white 4px;
    outline: solid var(--light-grey) 1px;
    cursor: auto;
    z-index: 1;
}

#palette-wrapper {
    position: absolute;
    margin-top: -0.8rem;
    margin-left: 1.3rem;
    height: 2.9rem;
    width: 2rem;
    cursor: auto;
}

#palette > .tool {
    margin: 0.2rem;
}

.palette-swatch-custom {
    background: linear-gradient(135deg, lightskyblue, gold, purple);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.active-tool {
    outline: solid var(--dark-grey) 1px;
}

.help {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1rem;
    color: hsl(0, 0%, 50%);
    transition: color 500ms;
}

.help:hover {
    color: hsl(0, 0%, 25%)
}

.help span {
    transition: background-color 500ms, border 500ms;
}

.help:hover span {
    background-color: white;
    border: solid hsl(0, 0%, 90%) 1px;
}

.key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    min-width: 2rem;
    min-height: 2rem;
    background-color: hsl(0, 0%, 90%);
    border: solid hsl(0, 0%, 80%) 1px;
    border-radius: 0.25rem;
    font-family: monospace;
    font-size: 1rem;
}

.ctrl {
    min-width: 4rem;
}

.cell {
    animation: zoom-in 500ms ease-out;
    background-color: white;
}

.grid-light {
    border: solid var(--light-grey) 0.5px;
}

.grid-dark {
    border: solid var(--dark-grey) 0.5px;
}

@keyframes zoom-in {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

@keyframes grow {
    0% {scale: 1}
    50% {scale: 1.5}
    100% {scale: 1}
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes rotate-360 {
    100% {transform: rotate(360deg)}
}

@keyframes slide-in {
    0% {
        opacity: 0;
        translate: -1rem;
    }
    100% {
        opacity: 1;
        translate: 0;
    }
}

@keyframes swatch-swell {
    0% {border: solid white 4px;}
    50% {border: solid white 3px;}
    0% {border: solid white 4px;}
}

@keyframes grow-from-left {
    0% {
        width: 0.0rem;
        margin-left: 0.0rem;
        outline: solid var(--light-grey) 1px;
        box-shadow: 0px 0px 0px #E5E5E5;
    }
    100% {
        width: 16.0rem;
        margin-left: 16.0rem;
        box-shadow: 0px 0px 8px #E5E5E5;
    }
}